<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
<!--  1.选择一个-->
  <select name="abc" v-model="fruit">
    <option value="苹果">苹果</option>
    <option value="雪梨">雪梨</option>
    <option value="香蕉">香蕉</option>
    <option value="樱桃">樱桃</option>
  </select>
  <h2>选择的是：{{fruit}}</h2>

  <!--  1.选择多个-->
  <select name="abc" v-model="fruits" multiple>
    <option value="苹果">苹果</option>
    <option value="雪梨">雪梨</option>
    <option value="香蕉">香蕉</option>
    <option value="樱桃">樱桃</option>
  </select>
  <h2>选择的是：{{fruits}}</h2>
</div>
<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      message: '你好',
      fruit: '香蕉',
      fruits: [],
    }
  })
</script>
</body>
</html>